*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    color: #C85F5F;
    font-size: 30px;
}

.inicio{
    background-image: linear-gradient(#ffffff,#C85F5F);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parana-img{
    width: 100%;
}

.inicio-titulo{
    color: white;
    font-size: 128px;
}

.inicio-subtitulo{
    color: white;
    font-size: 36px;
}